// Tema Bcx Angular : cyan-app-theme
// Abril 2017
//
@import '~@angular/material/theming';

// Be sure that you only ever include this mixin once!
@include mat-core();

// default, lighter, and darker
$cyan-app-primary: mat-palette($mat-cyan, 800, 50, A400);
$cyan-app-accent:  mat-palette($mat-cyan, 800, 50, A400);

// The warn palette is optional (defaults to red).
$cyan-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$cyan-app-theme: mat-light-theme($cyan-app-primary, $cyan-app-accent, $cyan-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cyan-app-theme);