<!-- Generado por Xml2Ang, Bcx Solutions -->
<!-- Fecha: 15/04/2020 22:28:37 -->
	<div class="cm-main">
	<div class="cm-toolbar">
		<mat-toolbar color="primary">
			<span class="cm-title-text">Detalle documento seguro</span>
			<span class="cm-title-spacer"></span>
			<button type='button' mat-icon-button (click)="this.utilService.cmdHelp_click(this.dialog)"><mat-icon>help</mat-icon></button>
		</mat-toolbar>
	</div>
	<form [formGroup]="form" autocomplete="off">
	<div class="cm-botonera">
		<button type='button' tabindex='9' mat-raised-button [disabled]="btnAceptar"  (click)="cmdAceptar_click()"><mat-icon>check</mat-icon>Aceptar</button>
		<button type='button' tabindex='10' mat-raised-button  (click)="cmdVolver_click()"><mat-icon>arrow_back</mat-icon>Volver</button>
	</div>
	<div class="inner-sidenav-content">
	<div class="cm-border cm-left-pad cm-margin-top cm-margin-bottom cm-bottom-pad-small cm-right-pad">
		<div class="mdc-layout-grid"> <!--  fila 1 -->
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">				
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
				<mat-form-field>
				<input matInput tabindex='1' formControlName="txtOriginal" placeholder="Original" maxlength="2">
				</mat-form-field>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
				<mat-form-field>
				<input matInput tabindex='2' formControlName="txtCopia" placeholder="Copia" maxlength="2">
				</mat-form-field>
			</div>
		</div>
		</div> <!--  fin de fila 1 -->
		<div class="mdc-layout-grid"> <!--  fila 2 -->
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
				<div style="margin-top:17px">Descripción</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">
				<mat-radio-group formControlName="optDescripcion">
					<mat-radio-button [tabIndex]='3' value="1">Póliza</mat-radio-button>
					<mat-radio-button [tabIndex]='4' value="2">Certificado</mat-radio-button>
					<mat-radio-button [tabIndex]='5' value="3">Póliza/Certificado</mat-radio-button>
				</mat-radio-group>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
			</div>
		</div>
		</div> <!--  fin de fila 2 -->
		<div class="mdc-layout-grid"> <!--  fila 3 -->
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
				<div style="margin-top:22px">Condiciones</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
				<div style="margin-top:22px">Monto por</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
				<bcx-numero [tabindex]='6' formControlName="txtMonto" placeholder="" maxlength="10" separador="true" decimales="2" mat-error="Valor Incorrecto"></bcx-numero>	
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
				<div style="margin-top:22px">%</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
				<div style="margin-top:22px">Incluyendo</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
				<mat-form-field>
				<input matInput tabindex='7' formControlName="txtDias" placeholder="" maxlength="3">
				</mat-form-field>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
				<div style="margin-top:22px">Dias en aduana</div>
			</div>
		</div>
		</div> <!--  fin de fila 3 -->
		<div class="mdc-layout-grid"> <!--  fila 4 -->
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
				
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
				<mat-checkbox tabindex='8' formControlName="chkCubriendo" (change)="change_chkCubriendo()">Cubriendo traslado de bodega a bodega</mat-checkbox>
			</div>
		</div>
		</div> <!--  fin de fila 4 -->
		<div class="mdc-layout-grid"> <!--  fila 5 -->
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
				<div style="margin-top:22px">Otras condiciones</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">
				<mat-form-field appearance="outline">
				<textarea matInput tabindex='9' rows="8" formControlName="txtOtrasCondiciones" placeholder="Otras condiciones"  (ngModelChange)="ofunc_mayuscula(this.txtOtrasCondiciones)" maxlength="254"></textarea>
				</mat-form-field>
			</div>
		</div>
		</div> <!--  fin de fila 5 -->
	</div>
	</div>
	</form>
	</div>
<cm-wait [waitShow]="waitShow"></cm-wait>
