<!-- Generado por Xml2Ang, Bcx Solutions -->
<!-- Fecha: 17/04/2020 12:53:40 -->
	<div class="cm-main">
	<div class="cm-toolbar">
		<mat-toolbar color="primary">
			<span class="cm-title-text">{{titlepag}}</span>
			<span class="cm-title-spacer"></span>
			<button type='button' mat-icon-button (click)="this.utilService.cmdHelp_click(this.dialog)"><mat-icon>help</mat-icon></button>
		</mat-toolbar>
	</div>
	<form [formGroup]="form" autocomplete="off">
	<div class="cm-botonera">
		<button type='button' tabindex='4' mat-raised-button  (click)="cmdAceptar_click()"><mat-icon>check</mat-icon>Aceptar</button>
		<button type='button' tabindex='5' mat-raised-button  (click)="cmdVolver_click()"><mat-icon>arrow_back</mat-icon>Volver</button>
	</div>
	<div class="inner-sidenav-content">
	<div class="cm-border cm-left-pad cm-margin-top cm-margin-bottom cm-bottom-pad-small cm-right-pad">
		<div class="mdc-layout-grid"> <!--  fila 1 -->
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
				<mat-form-field>
				<input matInput tabindex='1' formControlName="txtOri" placeholder="Original">
				</mat-form-field>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
				<mat-form-field>
				<input matInput tabindex='2' formControlName="txtCopia" placeholder="Copia">
				</mat-form-field>
			</div>
		</div>
		</div> <!--  fin de fila 1 -->
		<div class="mdc-layout-grid"> <!--  fila 2 -->
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
				<div style="margin-top:22px">Descripción</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
				<mat-form-field appearance="outline">
				<textarea matInput tabindex='3' rows="8" formControlName="txtTextoLibre" placeholder="" maxlength="197" (ngModelChange)="ofunc_textArea_mayuscula_txtArea(this.txtTextoLibre)"></textarea>
				</mat-form-field>
			</div>
		</div>
		</div> <!--  fin de fila 2 -->
	</div>
	</div>
	</form>
	</div>
<cm-wait [waitShow]="waitShow"></cm-wait>
